* {
  box-sizing: border-box;
}
body, html {
    margin:0;
    padding:0;
    width: 100%;
    min-width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #404040;
  line-height: 1.7rem;
  margin: auto;
}
header {
  background-color: #2f9eba;
  color: #ffffff;
  line-height: normal;
  padding-top: 4rem;
  margin: auto;
  width: 100%;
}
h1 {
  position: relative;
  left: 12.5%;
  font-size: 4rem;
  line-height: 2rem;
  margin-bottom: 0;
  width: 100%;
}
h2 {
  position: relative;
  left: 12.5%;
  font-size: 2.2rem;
  padding-bottom: 3.5rem;
  width: 33%;
  font-style: italic;
  margin-top: 2rem;
  font-weight: normal;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  color: #2095bc;
  font-size: 1.3rem;
}
p {
  padding-top: 1rem;
  text-align: left;
}
a {
  color: #2095bc;
  text-decoration: none;
}
section {
  padding-top: 2rem;
}
figure {
  text-align: left;
  margin-left: 0rem;
}
a h3, figcaption {
  color: #404040;
}
footer {
  background-color: #404040;
  text-align: center;
  margin: auto;
  color: #ffffff;
  padding: 4rem;
}
footer p {
  text-align: center;
  display: inline-block;
}
.header-nav {
  position: relative;
  background-color: #e6e6e6;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
}
.header-nav ul li a {
  color: #404040;
  text-decoration: none;
  padding: 0.2rem;
  padding-left: 0.75rem;
  font-size: 1.2rem;
  font-weight: bolder;
}
.header-nav ul li a:hover {
  font-weight: bolder;
  font-size: 1.5rem;
}
.header-nav ul li a:focus {
  font-weight: bolder;
  font-size: 1.5rem;
}
.header-nav ul li {
  list-style-type: none;
  display: inline;
  position: relative;
  padding: 0.2rem;
  left: 9rem;
}
a:hover {
  font-weight: bolder;
  font-size: 1.5rem;
}
a:focus {
  font-weight: bolder;
  font-size: 1.5rem;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.kitties-intro {
  width: 50%;
  padding: 1rem;
  margin: 1rem;
  text-align: justify;
}
.kittie-quote {
  color: #51bde1;
  font-size: 1.5rem;
}
.kitties-sidebar {
  padding: 1rem;
  width: 25%;
  margin: 1rem;
  text-align: justify;
}
.footer-nav ul {
  padding: 0.25rem;
  white-space: nowrap;
}
.footer-nav ul li {
  display: inline-block;
  color: #ffffff;
}
.footer-nav ul li a {
  color: #ffffff;
  font-weight: bold;
}
.footer-fig, img{
  text-align: center;
}
.hidden {
  position: relative;
  left: -10000px;
  top: auto;
}
.hidden:focus {
  left: 0;
}
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
