* {
  box-sizing: border-box;
}
body {
  font-family: arial,sans-serif;
  color: #2f4f4f;
  line-height: 1.7rem;
}
header {
  background-color: #2095bc;
  color: #ffffff;
  font-style: italic;
}
header h1 {
  position: relative;
  left: 15%;
  font-size: 4rem;
}
header h2 {
  position: relative;
  left: 15%;
  font-size: 1.8rem;
}
nav {
  background-color: #e0e0e0;
  padding: 1rem;
}
nav ul li a {
  color: #2f4f4f;
  text-decoration: none;
  padding: 0.2rem;
  font-size: 1.2rem;
  font-weight: bolder;
  font-style: italic;
}
nav ul li {
  list-style-type: none;
  display: inline;
  position: relative;
  padding: 0.2rem;
  left: 9rem;
}
a {
  color: #2095bc;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: ;
}
.kitties-intro {
  background-color: ;
  width: 50%;
  padding: 1rem;
  margin: 1rem;
  text-align: justify;
}


h4 {
  color: #2095bc;
  font-size: 1.3rem;
}
.kitties-sidebar {
  background-color: ;
  padding: 1rem;
  width: 22%;
  margin: 1rem;
  text-align: left;
}
h3 {
  font-size: 1.4rem;
}
p {
  padding-top: 1rem;
  text-align: left;
}
section {
  padding-top: 2rem;
}
